<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Logros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list lines="none">
  <ion-item>
    <div class="ion-item-container">
      <ion-avatar slot="start">
        <img src="../../assets/trofeos/001-medal-11.png" />
      </ion-avatar>
      <ion-text class="ion-margin-start">
        <h6 class="ion-no-margin">Rapidez: Nivel 1</h6>
        <small>Responde con rapidez 5 veces</small>
        <div>
          <ion-progress-bar value="0.10" color="secondary"></ion-progress-bar>
          <div class="text-porc">
            1/30
          </div>
        </div>
       
      </ion-text>
    </div>
  </ion-item>

  <ion-item class="ion-margin-top">
    <div class="ion-item-container">
      <ion-avatar slot="start">
        <img src="../../assets/trofeos/002-diploma-1.png" />
      </ion-avatar>
      <ion-text class="ion-margin-start">
        <h6 class="ion-no-margin">Historia: Nivel 1</h6>
        <small>Responde con rapidez 5 veces</small>
        <div>
          <ion-progress-bar value="0.40" color="secondary"></ion-progress-bar>
          <div class="text-porc">
            4/10
          </div>
        </div>
       
      </ion-text>
    </div>
  </ion-item>

  <ion-item class="ion-margin-top">
    <div class="ion-item-container">
      <ion-avatar slot="start">
        <img src="../../assets/trofeos/003-shield.png" />
      </ion-avatar>
      <ion-text class="ion-margin-start">
        <h6 class="ion-no-margin">Fútbol: Nivel 1</h6>
        <small>Responde con rapidez 10 veces</small>
        <div>
          <ion-progress-bar value="1" color="success"></ion-progress-bar>
          <div class="text-porc">
            10/10
          </div>
        </div>
       
      </ion-text>
    </div>
  </ion-item>
</ion-list>
</ion-content>
