.ion-item-container{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: -10px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    border: .5px solid #b9b9b9;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}
ion-text{
    width: 69%;
}
ion-progress-bar{
    margin-top: 5px;
    height: 17px;
    border-radius: 10px;
}
.text-porc {
    position: relative;
    top: -17px;
    font-size: 11px;
    right: -89px;
    font-weight: bolder;
}